<div class="section a_quiz col s8">
    <div class="more">
      <ul class="more_list">
          <li>
            <%= link_to '詳細', "/quizzes/#{quiz.id}", method: :get %>
          </li>
          <% if user_signed_in? && current_user.id == quiz.user_id %>
              <li>
                <%= link_to '編集', "/quizzes/#{quiz.id}/edit", method: :get %>
              </li>
              <li>
                <%= link_to '削除', "/quizzes/#{quiz.id}", method: :delete %>
              </li>
          <% end %>
      </ul>
    </div>
  <img class="responsive-img" src="<%= quiz.image %>">
  <%= simple_format(quiz.text) %>
  <div>出題者:<%= quiz.user.nickname %></div>
</div>
