<!DOCTYPE html>
<html>
  <head>
    <title>Quizzes</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css" >
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js" ></script>
    <script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <div class="row">
      <div class="col s8 teal lighten-1 header">
        <a class="header" href="/quizzes"> Quizzes! </a>
      </div>
      <div class="col s4 cyan lighten-1  header">
        <a class="waves-effect waves-light btn" href="/quizzes/new"> <i class="material-icons left"></i>出題する</a>
      </div>
    </div>

    <%= yield %>
  </body>
</html>
