<!DOCTYPE html>
<html>
  <head>
    <title>Quizzes</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css" >
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js" ></script>
    <script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <div class="row">
      <div class="col s8 teal lighten-1 header">
        <a class="header" href="/quizzes"> Quizzes! </a>
      </div>
      <% if user_signed_in? %>

      <div class="col s1 cyan lighten-1 menu">
        <%= link_to '出題' , '/quizzes/new' %>
      </div>
      <div class="col s2 cyan lighten-1 menu">
        <div class="userinfo">マイページ</div>
        <div class="userinfo"><%= current_user.nickname %>:<%= current_user.score %>p</div>
      </div>

      <div class="col s1 cyan lighten-1 menu">
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      </div>


      <% else %>

        <div class="">
          <a href="/users/sign_in">
          <!-- # <%= link_to "ログイン", new_user_session_path, class: 'post' %> -->
            <span>ログイン</span>
          </a>
          <%= link_to "新規登録", new_user_registration_path, class: 'post' %>
        </div>


      <% end %>

    </div>

    <%= yield %>
  </body>
</html>
